<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Item List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items | async">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.value}}</td>
            <td>
                <button (click)="deleteItem(item.id)" class="btn btn-danger">Delete</button>
                <button (click)="itemUpdate(item.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
                <button (click)="itemDetail(item.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>